/* Core styles start */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-ExtraBold.eot");
  src: url("../fonts/Roboto/static/Roboto-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Roboto/static/Roboto-ExtraBold.woff2") format("woff2"),
    url("../fonts/Roboto/static/Roboto-ExtraBold.woff") format("woff"),
    url("../fonts/Roboto/static/Roboto-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-ExtraLight.eot");
  src: url("../fonts/Roboto/static/Roboto-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Roboto/static/Roboto-ExtraLight.woff2") format("woff2"),
    url("../fonts/Roboto/static/Roboto-ExtraLight.woff") format("woff"),
    url("../fonts/Roboto/static/Roboto-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-Black.eot");
  src: url("../fonts/Roboto/static/Roboto-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Roboto/static/Roboto-Black.woff2") format("woff2"),
    url("../fonts/Roboto/static/Roboto-Black.woff") format("woff"),
    url("../fonts/Roboto/static/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-BlackItalic.eot");
  src: url("../fonts/Roboto/static/Roboto-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Roboto/static/Roboto-BlackItalic.woff2") format("woff2"),
    url("../fonts/Roboto/static/Roboto-BlackItalic.woff") format("woff"),
    url("../fonts/Roboto/static/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-BoldItalic.eot");
  src: url("../fonts/Roboto/static/Roboto-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Roboto/static/Roboto-BoldItalic.woff2") format("woff2"),
    url("../fonts/Roboto/static/Roboto-BoldItalic.woff") format("woff"),
    url("../fonts/Roboto/static/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-Bold.eot");
  src: url("../fonts/Roboto/static/Roboto-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Roboto/static/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto/static/Roboto-Bold.woff") format("woff"),
    url("../fonts/Roboto/static/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-ExtraLightItalic.eot");
  src: url("../fonts/Roboto/static/Roboto-ExtraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Roboto/static/Roboto-ExtraLightItalic.woff2") format("woff2"),
    url("../fonts/Roboto/static/Roboto-ExtraLightItalic.woff") format("woff"),
    url("../fonts/Roboto/static/Roboto-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-ExtraBoldItalic.eot");
  src: url("../fonts/Roboto/static/Roboto-ExtraBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Roboto/static/Roboto-ExtraBoldItalic.woff2") format("woff2"),
    url("../fonts/Roboto/static/Roboto-ExtraBoldItalic.woff") format("woff"),
    url("../fonts/Roboto/static/Roboto-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-SemiBoldItalic.eot");
  src: url("../fonts/Roboto/static/Roboto-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Roboto/static/Roboto-SemiBoldItalic.woff2") format("woff2"),
    url("../fonts/Roboto/static/Roboto-SemiBoldItalic.woff") format("woff"),
    url("../fonts/Roboto/static/Roboto-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-Regular.eot");
  src: url("../fonts/Roboto/static/Roboto-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Roboto/static/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto/static/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto/static/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-MediumItalic.eot");
  src: url("../fonts/Roboto/static/Roboto-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Roboto/static/Roboto-MediumItalic.woff2") format("woff2"),
    url("../fonts/Roboto/static/Roboto-MediumItalic.woff") format("woff"),
    url("../fonts/Roboto/static/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-Light.eot");
  src: url("../fonts/Roboto/static/Roboto-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Roboto/static/Roboto-Light.woff2") format("woff2"),
    url("../fonts/Roboto/static/Roboto-Light.woff") format("woff"),
    url("../fonts/Roboto/static/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-Italic.eot");
  src: url("../fonts/Roboto/static/Roboto-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Roboto/static/Roboto-Italic.woff2") format("woff2"),
    url("../fonts/Roboto/static/Roboto-Italic.woff") format("woff"),
    url("../fonts/Roboto/static/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-ThinItalic.eot");
  src: url("../fonts/Roboto/static/Roboto-ThinItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Roboto/static/Roboto-ThinItalic.woff2") format("woff2"),
    url("../fonts/Roboto/static/Roboto-ThinItalic.woff") format("woff"),
    url("../fonts/Roboto/static/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-Thin.eot");
  src: url("../fonts/Roboto/static/Roboto-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Roboto/static/Roboto-Thin.woff2") format("woff2"),
    url("../fonts/Roboto/static/Roboto-Thin.woff") format("woff"),
    url("../fonts/Roboto/static/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-SemiBold.eot");
  src: url("../fonts/Roboto/static/Roboto-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Roboto/static/Roboto-SemiBold.woff2") format("woff2"),
    url("../fonts/Roboto/static/Roboto-SemiBold.woff") format("woff"),
    url("../fonts/Roboto/static/Roboto-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-LightItalic.eot");
  src: url("../fonts/Roboto/static/Roboto-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Roboto/static/Roboto-LightItalic.woff2") format("woff2"),
    url("../fonts/Roboto/static/Roboto-LightItalic.woff") format("woff"),
    url("../fonts/Roboto/static/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/static/Roboto-Medium.eot");
  src: url("../fonts/Roboto/static/Roboto-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Roboto/static/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto/static/Roboto-Medium.woff") format("woff"),
    url("../fonts/Roboto/static/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", serif;
}

a {
  transition: all 0.3s ease-in-out;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.to-uppercase {
  text-transform: uppercase;
}

.clearfix {
  clear: both;
}

.section-subtitle {
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 0.625rem;
  color: #797979;
  text-transform: uppercase;
}
.section-title {
  margin-top: 0.32rem;
  font-size: 2.62rem;
  font-weight: 700;
  text-transform: capitalize;
  color: #05364d;
}
.button {
  border: none;
  background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
  background-size: 200% auto;
  color: white;
  font-weight: 500;
  font-size: 0.87rem;
  padding: 1.25rem 2.5rem;
  cursor: pointer;
  border-radius: 5px;
  font-family: inherit;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-position: right center;
}

.blur-line {
  display: inline-block;
  margin-left: 0.32rem;
  width: 80px;
  height: 4px;
  background-color: #b11f9d;
  filter: blur(4px);
  position: relative;
  top: -3px;
}
/* Core styles end */

/* Main header styles start */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
  padding: 15px 0;
  z-index: 10;
}

.main-header__brand img {
  width: 44px;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-navigation__item {
  display: inline-block;
  vertical-align: middle;
  padding: 0.625rem;
}

.main-navigation__item a {
  color: #05364d;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
}
.main-navigation__item a:hover {
  color: #efb6df;
}
.main-navigation__item.active a {
  color: #efb6df;
}
/* Main header styles end */

/* Footer section styles */
.footer {
  padding: 100px 0;
  background-color: #021017;
  text-align: center;
}
.footer__brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.footer__brand img {
  width: 35px;
}
.footer__brand span {
  color: white;
  font-size: 2rem;
  font-weight: 700;
}
.footer__navigation {
  padding-top: 40px;
}
.foother__navigation-items {
  margin-bottom: 50px;
}
.footer__navigation-item {
  display: inline-block;
  padding: 0 10px;
}
.footer__navigation-item a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.footer__social {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background: #ffffff;
  border-radius: 36px;
  color: #05364d;
  font-size: 16px;
  margin-right: 12px;
}
.footer__social:hover {
  background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
}
.footer__social:hover a {
  color: white;
}
.footer__social a {
  color: #021017;
}
.footer__text {
  color: #797979;
}
/* /Footer section styles */
/* responsive styles */
@media only screen and (max-width: 991px) {
  .container {
    width: 92%;
  }
  .main-navigation {
    display: none;
  }
  .footer__navigation {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: 96%;
  }
}
