.main-header__brand{
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand img {
  width: 64px;
}

.main-navigation {
  display: inline-block;
  vertical-align: middle;
}

.main-navigation__item {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
}